<% provide(:title, "About") %>
<div class="row bg-main">
  <div class="col-xs-12">
    <div class="page-title">
    <h2><span>About</span></h2>
    </div>  
  </div>
</div>
<div class="row">
  <div class="col-sm-12" style="padding: 0;">
    <div class="main-image">
      <h5>Fine Tutors was established 10 years ago with the aim of providing high-quality and affordable tuition to children. It was noted that quite often, there would be a knowledge gap in what children were being taught in school. The idea was then born to open a centre to not only supplement this, but to make learning more compelling. Our zeal for teaching passionately has only strenghtened and further increased with the excellent results our students have went on to achieve.</h5>
      <br>
      <h5>Since our genesis in a small office in central London, we have since expanded and remain committed as ever to supporting children achieving their full potential. We know how important it is as a parent know the progress of your child, which is why we are there every step of the way. We do our due diligence and below are some features we have to give your child the best possible education:</h6>
      <br> 
      <ul>
        <li><p>We have supervisors who oversee and manage classrooms</p></li>
        <li><p>Students are given homework to complete where feedback and progress results are provided</p></li>
        <li><p>Regular parent meetings take place to allow opportunities for parents to get more information</p></li>
        <li><p>Exam past-papers and mock tests take place to induce exam-like environments, to create familiarity</p></li>
      </ul>
      <br>
      <h5>With this in mind, we are sure to be able to give a child the best possible platform to attain excellent grades</h5>
    </div>
  </div>
</div>  
