<% provide(:title, "Home") %>
<div class="row bg-main">
  <div class="col-xs-12">
    <div class="page-title" style="margin-top: 0;">
      <h2><span>Home</span></h2>
    </div>
  </div>
</div>
<div class="row bg-top">
  <div class="col-sm-12 col-md-7 col-lg-8">
    <h3 class="motto">Not only do we strive for <span>excellence</span>, we embody it</h3>
    <h4 class="opening-statement">We are an Ofsted registered children's tuition centre, emboldened with the philosophy to help realise the full potential of everyone of our students</h4>
  </div>
  <div class="col-sm-12 col-md-5 col-lg-4">
    <div class="ofsted-wrapper">
      <%#= image_tag('ofsted.jpeg', alt: 'Ofsted Reg', class: 'ofsted') %>
    </div>
  </div>
</div>
<hr class="margin-none">
<div class="row bg-middle">
  <div class="col-sm-12 col-md-7">
    <h3>All the material we use is compliant with the main examining boards; being AQA, Edexcel and OCR. We regularly update our material to reflect that of the national curriculum and hold stringent assessments to make sure our teaching is that of the highest standards</h3>
  </div>
  <div class="col-sm-12 col-md-5">
    <div class="wrapper">  
      <div class="slider">
        <ul class="slides">
          <li class="slide"><%= image_tag('aqa.png', alt: 'AQA', class: 'exam-board') %></li>
          <li class="slide"><%= image_tag('edexcel.png', alt: 'EDEXCEL', class: 'exam-board') %></li>
          <li class="slide"><%= image_tag('ocr.png', alt: 'OCR', class: 'exam-board') %></li>
        </ul>
      </div> 
    </div>
  </div>
</div>
<hr class="margin-none">
<div class="row bg-bottom">
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card bg-1">
      <div class="card-body">
        <h4 class="title">A teaching culture that has been refined and cultivated to get the best out of your child</h4>
        <h5 class="description">We are immensely proud of our dedicated staff who all share the same vision in aspiring for excellence</h5>
      </div>
    </div> 
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="card bg-2">
      <div class="card-body">
        <h4 class="title">A true community spirit</h4>
        <h5 class="description">Our unique relationships with parents are what we hold with high esteem. Our close communication, inclusivity and involvement in the process, makes everyone feel part of the Fine Tutors family </h5>
      </div>
    </div> 
  </div>
  <div class="col-xs-12 col-md-6 offset-md-3 col-lg-4">
    <div class="card bg-3">
      <div class="card-body">
        <h4 class="title">We tailor to suit everyone's needs</h4>
        <h5 class="description">We identify education as the best investment you can make, which is why we believe it should be affordable for all. With our very competitive rates and up to 70% discount for monthly tuition fees (taken from the childcare element of Working Tax Credits), we believe our services are very accessible</h5>
      </div>
    </div>
  </div>
  <div class="row bg-bottom">
    <div class="col-xs-12">
      <p class="quote bg-bottom">&ldquo;In learning do we truly empower ourselves&rdquo;</p> 
    </div>
  </div>
</div>




