<%=provide(:title, "Sent message") %>
<div class="row center">
  <div class="col-xs-12">
    <h3>Thank you for sending your message.</h3>
    <p>We aim to respond within 2 working days</p>
  </div>
</div>  