$black: #0E1111;
$white: #ffffff;
$bright-white: #EBEBD3; 
$faint-purple: #575766;
$purple: #9186FF;
$dark-purple: #582B63;
$blue: #0BB5FF;
$dark-blue: #08415C;
$electric-blue: #7EE8FA;
$green: #3bb273;
$light-green: #4CE0B3;
$yellow: #FFF700;
$dark-orange: #F6511D;
$tuscan: #FBD1A2;
$peach: #F2545B; 
$pink: #FF88DC;

