<footer>
  <ul class="social-media-icons">
    <li class="social-icon"><%= link_to "https://www.facebook.com/fine.tutors.7", title: "facebook", target: "_blank" do %><i class="fa fa-facebook fa-lg"></i><% end %></li>
    <li class="social-icon"><%= link_to "https://uk.linkedin.com/company/fine-tutors-limited", title: "linkedin", target: "_blank" do %><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i><% end %></li>
    <li class="social-icon"><%= mail_to "info@finetutors.com", title: "email", target: "_blank" do %><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i><% end %></li>
  </ul>
  <h5 class="message">&copy; Fine Tutors</h5>
</footer>

